/network_env
.env 
__pycache__ 
*.pyc
*.pyo
*.pyd
build 
network_security.egg-info 
requirements-dev.txt
.mypy_cache
.ruff_cache 
.tmuxp
/artifact
/src/logger/logs
.pre-commit-config.yaml
mlruns
netsec_ml_pipeline.egg-info
aws/